<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Profile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/profile.css}" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="container">
	<!-- Contenedor -->
	<ul id="accordion" class="accordion">
    <li>
<div class="col col_4 iamgurdeep-pic">
<img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" th:src="${profile.linkPhoto}">
<div class="edit-pic">
<a th:href="${profile.linkFB}" target="_blank" class="fa fa-facebook"></a>
<a th:href="${profile.linkIG}" target="_blank" class="fa fa-instagram"></a>
<a th:href="${profile.linkTwitter}" target="_blank" class="fa fa-twitter"></a>



</div>
<div class="username">
    <h2><span th:text="${profile.fullName}"/> <small><i class="fa fa-map-marker"></i><span th:text="${' ' + profile.country + ' ('+ profile.city + ')'}"/></small></h2>
    <p><i class="fa fa-briefcase"></i> <span th:text="${profile.job + '.'}"/></p>
    
    <a th:href="${profile.linkFB}" target="_blank" class="btn-o"> <i class="fa fa-user-plus"></i> Add Friend </a>
    <a th:href="${profile.linkIG}" target="_blank"  class="btn-o"> <i class="fa fa-plus"></i> Follow </a>
    
    
     <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-ellipsis-v pull-right"></span></a>
          <ul class="dropdown-menu pull-right">
            <li><a href="#">Video Call <i class="fa fa-video-camera"></i></a></li>
            <li><a href="#">Poke <i class="fa fa-hand-o-right"></i></a></li>
            <li><a href="#">Report <i class="fa fa-bug"></i></a></li>
            <li><a href="#">Block <i class="fa fa-lock"></i></a></li>
          </ul>
        </li>
      </ul>
   
</div>
    
</div>
        
    </li>
		<li>
			<div class="link"><i class="fa fa-globe"></i>About<i class="fa fa-chevron-down"></i></div>
			<ul class="submenu">
				<li><a href="#"><i class="fa fa-calendar left-none"></i> Date of Birth : <span th:text="${profile.dob}"/></a></li>
				<li><a href="#">Address : <span th:text="${profile.address}"/></a></li>
				<li><a th:href="'mailto:' + ${profile.email}">Email : <span th:text="${profile.email}"> </a></li>
				
				<li><a href="#">Phone : <span th:text="${profile.phone}"></a></li>
			</ul>
		</li>
		<li class="default open">
			<div class="link"><i class="fa fa-code"></i>Professional Skills<i class="fa fa-chevron-down"></i></div>
			<ul class="submenu">
				<li>
					<a href="#" 
						th:unless="${profile.skill == null}"
						th:with="skillList = ${#strings.arraySplit(profile.skill, ',')}">
					<span class="tags" th:each="skill :${skillList}" th:text="${skill}"> </span>
					
                </li></a>
			</ul>
		</li>
		<li>
			<div class="link"><i class="fa fa-picture-o"></i>Photos <i class="fa fa-chevron-down"></i></div>
			<ul class="submenu">
				<li class="photosgurdeep"><a href="#"><img class="img-responsive iamgurdeeposahan" th:src="${profile.linkPhoto1}">                 
				</a>
                <a href="#"><img class="img-responsive iamgurdeeposahan" th:src="${profile.linkPhoto2}">                 
    			</a>
                <a href="#"><img class="img-responsive iamgurdeeposahan" th:src="${profile.linkPhoto3}">                 
    			</a>                
                <a class="view-all" th:href="${profile.linkFB}" target="_blank" >15+
        		</a>
    			    
				</li>
			</ul>
		</li>
		<li><div class="link"><i class="fa fa-users"></i>Friends<i class="fa fa-chevron-down"></i></div>
			<ul class="submenu">
    			<li class="photosgurdeep">
    			<a href="#"><img class="img-responsive iamgurdeeposahan" th:src="${profile.linkFriends1}">                 
				</a>
                <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" th:src="${profile.linkFriends2}">                 
    			</a>       
                <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" th:src="${profile.linkFriends3}">                 
    			</a>               
                <a class="view-all" th:href="${profile.linkFriends2}" target="_blank">50+
        		</a>
    			    
				</li>
			</ul>
		</li>
	</ul>
	</div>
    
    
    
 
    
</div>


<script th:src="@{/js/profile.js}"></script>
</body>
</html>
